{% extends 'base.html' %}
{% load static %}
<html lang="zh-cn">
<body>
    {% block nav %}
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand btn-outline-info" href="{% url 'technology_lesson_learned:index' %}" style="margin-right: 60px">
                <svg class="icon" aria-hidden="true" style="font-size: larger">
                    <use xlink:href="#icon-kanban"></use>
                </svg>
                <span style="font-family: 华文隶书;">Lesson_Learned首页</span>
            </a>
            <a class="navbar-brand btn-outline-info" href="/admin/technology_lesson_learned" style="margin-right: 60px">
                <svg class="icon" aria-hidden="true" style="font-size: larger">
                    <use xlink:href="#icon-guanliyuan-yonghuchaxun"></use>
                </svg>
                <span style="font-family: 华文隶书;">Lesson_Learned管理界面</span>
            </a>
            <li style="list-style-type: none" class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{user.first_name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/user_info/">基本信息</a>
                      <a class="dropdown-item" href="/logout/?from={{ request.get_full_path }}">注销</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                {% else %}
                    <a href="/login/?from=.">登陆</a>
                {% endif %}
            </li>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="按标题搜索" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    {% endblock %}


    {% block content %}{% endblock %}
    {% block jQuery_ajax %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'bootstrap4.3.1/js/bootstrap.min.js' %}"></script>

</body>
</html>