{% extends 'blogs/base.html' %}
{% load static %}
{# 页面标题 #}
{% block header_style %}
    <link rel="stylesheet" href="{% static 'blogs/css/blogs.css' %}">
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
{% block title %}
    {{ blog.title }}
{% endblock %}

{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10 offset-1">
                <li style="display: inline-block;">
                    <h3>{{ blog.title }}</h3>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <li style="display: inline-block;">
                    <a href="{% url 'blogs:index' %}">查看全部博客</a>
                </li>
                <ul style="list-style-type: none ">
                    <li style="display: inline-block"><i class="fas fa-user"></i>{{ blog.author }}&nbsp&nbsp</li>
                    <li style="display: inline-block">
                        <i class="fas fa-tag"></i><a href="{% url 'blogs:blogs_with_type' blog.blog_type.pk %}">
                                {{ blog.blog_type }}&nbsp&nbsp
                            </a>
                    </li>
                    <li style="display: inline-block">
                        <i class="fas fa-calendar-alt"></i>{{ blog.created_date|date:"Y-m-d H:i:s" }}&nbsp&nbsp
                    </li>
                    <li style="display: inline-block">
                        <i class="fas fa-book-reader"></i>{{ blog.get_read_num }}
                    </li>
                </ul>
                <p style="text-indent: 2em">{{ blog.content|safe }}</p>
                <div>
                    <p>上一篇:
                        {% if previous_blog %}
                            <a href="{% url 'blogs:blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
                        {% else %}
                            已经是第一篇
                        {% endif %}
                    </p>
                    <p>下一篇:
                        {% if next_blog %}
                            <a href="{% url 'blogs:blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
                        {% else %}
                            已经是最后一篇
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论</h3>
                    {% if user.is_authenticated %}
                        <form id="comment_form" action="{% url 'comment:update_comment' %}" method="POST" style="overflow: hidden">
                            {% csrf_token %}
                            <label>{{ user.username }},欢迎评论~</label>
                            {{ comment_form }}
                            <span id="comment_error" class="text-danger"></span>
                            <input type="submit" value="提交" class="btn btn-primary" style="float: right;">
                        </form>
                    {% else %}
                        您尚未登录，登陆后方可评论~
                        <a href="{% url 'login' %}?from={{ request.get_full_path }}" class="btn btn-primary">登录</a>
                        <span>or</span>
                        <a href="{% url 'register' %}?from={{ request.get_full_path }}" class="btn btn-danger">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area">
                    <h3 class="comment-area-title">评论列表</h3>
                    <div id="comment_list">
                        {% for comment in comments %}
                            <div class="comment">
                                {{ comment.user.username }}
                                ({{ comment.comment_time|date:'Y-m-d H:i:s' }}):
                                {{ comment.text|safe }}
                                <a href="javascript:reply({{ comment.pk }});">回复</a>

                                {% for reply in comment.root_comment.all %}
                                    <div class="reply">
                                        {{ reply.user.username }}
                                        ({{ reply.comment_time|date:"Y-m-d H:i:s" }})
                                        回复
                                        {{ reply.reply_to.username }}:
                                        {{ reply.text }}
                                        <a href="javascript:reply({{ reply.pk }});">回复</a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% empty %}
                            暂无评论
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block blogs_nav %}active{% endblock %}

{% block jQuery_ajax %}
    <script type="text/javascript">
        $("#comment_form").submit(function () {
            //清空错误信息
            $("#comment_error").text('');
            //判断评论是否为空
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==""){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }
            //  更新数据到textarea
            CKEDITOR.instances["id_text"].updateElement()
            //  异步提交
            $.ajax({
                url: "{% url 'comment:update_comment' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        //  插入数据
                        var comment_html = '<div>' + data['username'] + '(' + data['comment_time'] + '):' +
                                data['text'] + '</div>';
                        $("#comment_list").prepend(comment_html);
                        //  清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData("");
                    }else{
                        //  显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        });
        function reply(reply_comment_id) {
            $('#reply_comment_id').val(reply_comment_id);
            $('html').animate({scrollTop: $('#comment_form').offset().top -60}, 300, CKEDITOR.instances['id_text'].focus());
        }
    </script>
{% endblock %}