{% load static %}
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap4.3.1/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-datepicker-1.9.0-dist/css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-table/css/bootstrap-table.min.css' %}">

    <script type="text/javascript" src="{% static 'iconfont/js/iconfont.js' %}"></script>
    <link rel="stylesheet" href="{% static 'iconfont/css/general.css' %}">

    <script type="text/javascript" src="{% static 'incubator-echarts-4.2.1/dist/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap4.3.1/jquery/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-datepicker-1.9.0-dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-datepicker-1.9.0-dist/locales/bootstrap-datepicker.zh-CN.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'bootstrap-table/js/bootstrap-table.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-table/js/bootstrap-table-zh-CN.min.js' %}"></script>
    {% block header_style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand btn-outline-info" href="{% url 'Painting:index' %}" style="margin-right: 60px">
            <svg class="icon" aria-hidden="true" style="font-size: larger">
                <use xlink:href="#icon-kanban"></use>
            </svg>
            <span style="font-family: 华文隶书;">喷漆生产数据看板</span>
        </a>

        <li style="list-style-type: none" class="nav-item dropdown">
            {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{user.first_name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/user_info/">基本信息</a>
                  <a class="dropdown-item" href="/logout/?from={{ request.get_full_path }}">注销</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
            {% else %}
                <a href="/login/?from=./andon">登陆</a>
            {% endif %}
        </li>
    </nav>

    {% block content %}{% endblock %}
    {% block jQuery_ajax %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'popper/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap4.3.1/js/bootstrap.min.js' %}"></script>

    <!--
    <script type="text/javascript" src="{% static 'bootstrap-table/js/bootstrap-table-locale-all.min.js' %}"></script>
    -->
</body>
</html>