{% extends 'Painting/base.html' %}
{% load static %}
{% block content %}
    <div style="margin-top: 50px;margin-bottom: 50px">
        <h1>
            <div class="form-inline">
                <svg class="icon" aria-hidden="true" style="font-size: x-large">
                    <use xlink:href="#icon-riqi-"></use>
                </svg>
                <label style="font-family: 华文楷体;font-size: x-large">选择查询区间：</label>
                <input type="text" id="datepicker_start" class="form-control" placeholder="起始时间">
                <label style="font-family: 华文楷体;font-size: x-large">至</label>
                <input type="text" id="datepicker_end" class="form-control" placeholder="截至时间">
                <button type="button" class="btn btn-primary" id="button_submit">确定</button>
            </div>
            <span id="datepicker_error" class="text-danger"></span>
        </h1>
    </div>
    <div><h1>
        {% if not mps_empty %}
            {{ production_date }}喷漆生产合格率:
        {% else %}
            {{ production_date }}<span style="color: #FF0000">无</span>生产计划
        {% endif %}&emsp;
        <a href="{% url 'Painting:painting_fpy_day_view' prev_day|date:'Y-m-d' %}" class="btn btn-outline-info">前一天</a>
        <a href="{% url 'Painting:painting_fpy_day_view' next_day|date:'Y-m-d' %}" class="btn btn-outline-info">后一天</a>
        <a href="{% url 'Painting:monthly' date|date:'Y-m' %}" class="btn btn-outline-info">月视图</a>
    </h1></div>
    <div class="container float-left">
        <div class="row" id="echarts" style="width: 1200px;height:300px;" ></div>
        <div>
            <table class="table table-striped table-bordered table-hover" id="table"></table>
        </div>
    </div>
    <script>
        // 选择月份控件参数配置
        $('#datepicker_start, #datepicker_end').datepicker({
            language: "zh-CN",          //选择语言
            calendarWeeks: true,        //显示周数
            autoclose: true,            //选择完日期后自动关闭
            todayHighlight: true,       //今日高亮显示
            weekStart: 0,               //周日为一周的第一天
            minViewMode: 0,             //最小视图单位：0/day, 1/month, 2/year, 3/10年， 4/世纪
            format: "yyyy-mm-dd",       //日期格式
            clearBtn: true,             //显示清除按钮
            orientation: "bottom auto" //控件位置：底部自动
        });
        // 点击确定按钮事件
        $('#button_submit').click(function () {
            let patter_date = /^\d{4}-\d{2}-\d{2}$/
            let date_start = $('#datepicker_start').val();
            let date_end = $('#datepicker_end').val();
            let date = date_start + ' ' + date_end
            // console.log(date)
            let result_start = patter_date.test(date_start)
            let result_end = patter_date.test(date_end)
            if(result_start && result_end){
                window.location.href =  "/Painting/painting_fpy_day_view/" + date;
            }
            else{
                $("#datepicker_error").text('日期格式错误');
            }
        })
        // json数据解包
        let data = {{ echarts_elements|safe }};
        let x_axis = data.x_axis;
        let y_axis = data.y_axis;
        let day_fpy = data.day_fpy;
        let hour_records_qualified = data.hour_records_qualified;
        let hour_records_all = data.hour_records_all;
        // console.log(y_axis);
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echarts'));
        // 指定图表的配置项和数据
        var option = {
            tooltip : {
                    trigger: 'axis',
                    axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                        type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    }
                },
            legend: {
                x:'100px',
                y:'30px',
                data:['小时合格率', '小时合格量', '小时总产量']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                x:'800px',
                y:'30px',
                feature: {
                    dataZoom: {
                        yAxisIndex: 'none'
                    },
                    magicType: {type: ['line', 'bar']},
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                // x轴文字倾斜
                axisLabel: {
                    interval: 0,
                    rotate: 45,//倾斜度 -90 至 90 默认为0
                    margin: 2,
                    textStyle: {
                        fontWeight: "bolder",
                        color: "#000000"
                    }
                },
                type: 'category',
                data: x_axis,
                axisTick: {
                    alignWithLabel: true,
                    show: false
                }
            },
            yAxis : [
                {
                    type : 'value',
                    min: 0,
                    max: 1
                },
                {
                    type: 'value'
                }
            ],
            series : [
                {
                    name: '小时合格率',
                    type: 'bar',
                    data: y_axis,
                    color: '#50bae3',
                    markLine : {
                        symbol: 'none',
                        label:{
                            show: true,
                            position: 'middle',
                            formatter: '{b}'
                        },
                        lineStyle: {
                            width: 3,
                            color: '#ef1414',
                            type: 'solid'
                        },
                        yAxisIndex: 0, //使用的 y 轴的 index，在单个图表实例中存在多个 y轴的时候有用。
                        data: [
                            {
                                name: '总合格率:' + day_fpy + '\n总合格量:' + {{ sum_records_qualified }} + '\n总生产量:' + {{ sum_records_all }},
                                yAxis: day_fpy
                            }
                        ]
                    }
                },
                {
                    name: '小时合格量',
                    yAxisIndex: 1, ////使用的 y 轴的 index，在单个图表实例中存在多个 y轴的时候有用。
                    data: hour_records_qualified,
                    type: 'line'
                },
                {
                    name: '小时总产量',
                    yAxisIndex: 1, ////使用的 y 轴的 index，在单个图表实例中存在多个 y轴的时候有用。
                    data: hour_records_all,
                    type: 'line'
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        //*************************************************************//
        //*************************************************************//
        // 设置bootstrap-table数据
        var tableColumns = [
            {field: 'hour', title: '第几小时', sortable: true},
            {field: 'hourly_output_qualified', title: '每小时合格量', sortable: true},
            {field: 'hourly_output', title: '每小时总产量', sortable: true}
        ];
        var test_data = [
            {actual_outputs:123,input_datetime:20200320}
        ];
        $('#table').bootstrapTable('destroy'); //动态加载表格之前，先销毁表格
        $('#table').bootstrapTable({//表格初始化
            columns: tableColumns,  //表头
            data:{{ bootstrap_table_data|safe }},
            width:300,  //表格宽度
            // height:1268,  //表格高度,如果没有设置height属性，表格自动根据记录条数觉得表格高度
            method: 'get',  //请求方式
            pageSize: 10,  //每页的记录数
            pageNumber: 1,  //初始化加载第一页（默认显示第一页）
            pageList: [10, 25, 50, 100, 'All'],  //可供选择的每页的行数
            smartDisplay:false,  //加上这句，否则pageList中的'All'失效
            cache: false,  //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性
            striped: true,  //是否显示行间隔色
            pagination: true,  //是否显示分页
            sidePagination: 'client',  //分页方式：client客户端分页，server服务端分页（*）,数据为json数组时写client，json对象时（有total和rows时）这里要为server方式，写client列表无数据
            search: true,  //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            showRefresh: false,  //是否显示刷新按钮
            showExport: false,
            showFooter: true,
            // exportTypes: ['csv', 'txt', 'xml'],
            clickToSelect: true,
        });
    </script>
{% endblock %}