ul.article-customer{
    list-style-type: none;
    padding-left: 0px;
}
div.article. h3{
    margin-top: 0.5em;
}
div.article:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
div.article  p.article-info{
    margin-bottom: 0;
}
div.comment-area {
    margin-bottom: 2em;
}
h3.comment-area-title {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 1em;
}
div.django-ckeditor-widget {
    width: 100%;
}